/* domine-regular - latin */
@font-face {
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+000-5FF; /* Load only Latin characters */
    src: local('Domine'),
         url('domine-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('domine-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }